<div class="d-flex flex-column p-5 rounded-5 row-gap-5">
  <h1 class="border-bottom m-0 p-0 pb-3">
    <%= recipe[:name] %>
  </h1>
  <div class="border-bottom justify-content-center m-0 py-2 row">
    <%= recipe[:description] %>
  </div>
  <div class="border-bottom m-0 p-0 pb-1 pt-3 row">
    <div class="flex-fill hstack justify-content-evenly">
      <% recipe.tags.each do |tag| %>
        <div class="d-flex">
          <%= tag[:name] %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col">
    <strong>Ingredients:</strong>
    <div class="col">
      <% recipe.ingredients.each do |ingredient| %>
        <div class="border m-0 my-2 row">
          <div class="border col-sm-6 col-md-4">
            <div class="row">
              <div class="border col-4 text-end">
                <%= ingredient[:amount].to_i %>
              </div>
              <div class="border col-8 flex-grow-1 flex-shrink-1 text-start">
                <%= ingredient.unit[:name] %>
              </div>
            </div>
          </div>
          <div class="border col-sm text-start">
            <%= ingredient.food[:name] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
