<tr>
  <td>
    <input type="text" class="form-control" name="entry[name][]" value="<%= entry.name %>" required>
  </td>
  <td>
    <input type="number" class="form-control" name="entry[amount][]" value="<%= entry.amount %>" required>
  </td>
  <td>
    <select class="form-control" name="entry[unit][]" required>
      <% @units.each do |unit| %>
        <option value="<%= unit %>" <%= entry.unit == unit ? 'selected' : '' %>><%= unit %></option>
      <% end %>
    </select>
  </td>
  <td>
    <button type="button" class="btn btn-danger remove-row">Remove</button>
  </td>
</tr>
