<% tags.each do |tag| %>
  <% type ||= 'delete' %>
  <% random = rand(8..28) * 10 %>
  <div
  class="d-flex hstack gap-2 px-3 rounded-pill"
  style="
  background:
    linear-gradient(
        to bottom right,
        hsl(<%= random - 50 %>, 100%, 40%),
        hsl(<%= random %>, 100%, 40%),
        hsl(<%= random + 50 %>, 100%, 40%));
  height: 42px;"
  >
    <span id="tag-name" class="text-center text-white">
      <%= tag[:name] %>
    </span>
    <% if type == "delete" %>
      <button id="remove-tag" data-tagID="<%= tag[:id]%>"  class="btn m-0 p-0 text-danger">
        <i class="bi bi-x fs-4 m-0 p-0"></i>
      </button>
    <% else type == "add"%>
      <button id="<%= tag[:id]%>" class="btn m-0 p-0">
        <i class="bi bi-plus fs-4 m-0 p-0"></i>
      </button>
    <% end %>
  </div>
<% end %>
