<!DOCTYPE html>
<html>
  <head>
    <title>Bag 'em and Tag 'em</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tags" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_import_module_tag "tags" %>
  </body>
</html>
